
# Playwright
node_modules/
/test-results/
.env
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.DS_Store
/tests/example.spec.js
/tests-examples/
playwright.config.js
data/users.json
